<div class="mt-8 bg-black/90 p-4">
    <app-container>
        <div class="max-w-[1140px]">
            <div class="relative mx-auto lg:w-[calc(100%-300px)]">
                <div class="relative z-10 pb-[45%]">
                    @for (item of carouselItems; track $index) {
                        <div
                            class="absolute left-0 top-0 z-[1] h-full w-full opacity-0 transition-opacity duration-1000"
                            [ngClass]="{
                                show: currentSlide === $index,
                            }"
                        >
                            <a [routerLink]="item.link">
                                <img
                                    [src]="item.imageUrl"
                                    [alt]="item.title"
                                    class="h-full w-full"
                                />
                            </a>
                        </div>
                    }
                </div>
                <div class="absolute bottom-3 z-10 mx-auto w-full text-center">
                    @for (item of carouselItems; track $index) {
                        <div
                            class="mx-1 inline-block size-2 cursor-pointer rounded-full bg-white transition-all"
                            [ngClass]="{
                                'dot-active': currentSlide === $index,
                            }"
                            (click)="setCurrentSlide($index)"
                        ></div>
                    }
                </div>
            </div>
        </div>
    </app-container>
</div>
