<div class="relative mt-8">
    <app-container>
        <div class="flex flex-wrap">
            <div
                class="schedule-list my-6 lg:max-w-[calc(200%/3)] lg:basis-[calc(200%/3)]"
            >
                <div class="schedule-tile">
                    <p class="text-2xl font-bold">ผังการแสดง & รอบการแสดง</p>
                </div>

                <div class="schedule-list-item">
                    <div
                        class="my-4 overflow-hidden rounded-md bg-black/90 text-white"
                    >
                        <div class="flex flex-col md:flex-row">
                            <div
                                class="width-[20%] basis-[20%] bg-black/90 p-2 md:p-4"
                            >
                                <img
                                    src="https://www.thaiticketmajor.com/img_seat/prefix_1/0698/36698/36698-66c3115c23d3a-s.gif"
                                />
                            </div>
                            <div class="width-[80%] basis-[80%]">
                                <div class="flex items-start px-4 py-2 md:py-3">
                                    <lucide-angular
                                        [img]="MapPinIcon"
                                        class="mr-2 inline-block size-5 opacity-80"
                                    ></lucide-angular>
                                    <p class="text-md flex-grow md:text-lg">
                                        ศูนย์ประชุมและแสดงสินค้านานาชาติไคซ์
                                        ขอนแก่น - ฮอลล์ 1
                                    </p>
                                </div>
                                <div class="px-4 py-3 md:py-1">
                                    <div class="mb-1">
                                        <p class="text-sm text-zinc-400">
                                            ราคาบัตร
                                        </p>
                                    </div>
                                    <div class="pb-2">
                                        <p class="text-sm">
                                            3,500 / 3,000 / 2,500 / 2,000 /
                                            1,200
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center bg-[#222] px-4 py-2.5">
                            <div class="flex-grow">
                                <p class="text-sm font-bold text-zinc-400">
                                    วันที่แสดง
                                </p>
                            </div>
                            <div class="">
                                <p class="text-sm font-bold text-zinc-400">
                                    เวลา
                                </p>
                            </div>
                        </div>
                        <div
                            class="flex items-center border-t border-black bg-[#222] px-4 py-3"
                        >
                            <div class="flex-grow">
                                <p class="text-sm">
                                    วันอาทิตย์ที่ 29 กันยายน 2567
                                </p>
                            </div>
                            <div class="">
                                <p
                                    class="cursor-pointer rounded-full bg-red-700 px-8 py-1 text-sm font-semibold text-white hover:brightness-110 lg:text-base"
                                >
                                    13:00
                                </p>
                            </div>
                        </div>
                    </div>

                    <div
                        class="my-4 overflow-hidden rounded-md bg-black/90 text-white"
                    >
                        <div class="flex flex-col md:flex-row">
                            <div
                                class="width-[20%] basis-[20%] bg-black/90 p-2 md:p-4"
                            >
                                <img
                                    src="https://www.thaiticketmajor.com/img_seat/prefix_1/0699/36699/36699-66d19bcd669f9-s.png"
                                />
                            </div>
                            <div class="width-[80%] basis-[80%]">
                                <div class="flex items-start px-4 py-2 md:py-3">
                                    <lucide-angular
                                        [img]="MapPinIcon"
                                        class="mr-2 inline-block size-5 opacity-80"
                                    ></lucide-angular>
                                    <p class="text-md flex-grow md:text-lg">
                                        เทอร์มินอล ฮอลล์, ศูนย์การค้าเทอร์มินอล
                                        21 โคราช
                                    </p>
                                </div>
                                <div class="px-4 py-3 md:py-1">
                                    <div class="mb-1">
                                        <p class="text-sm text-zinc-400">
                                            ราคาบัตร
                                        </p>
                                    </div>
                                    <div class="pb-2">
                                        <p class="text-sm">
                                            3,500 / 3,000 / 2,500 / 2,000 /
                                            1,200
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center bg-[#222] px-4 py-2.5">
                            <div class="flex-grow">
                                <p class="text-sm font-bold text-zinc-400">
                                    วันที่แสดง
                                </p>
                            </div>
                            <div class="">
                                <p class="text-sm font-bold text-zinc-400">
                                    เวลา
                                </p>
                            </div>
                        </div>
                        <div
                            class="flex items-center border-t border-black bg-[#222] px-4 py-3"
                        >
                            <div class="flex-grow">
                                <p class="text-sm">
                                    วันอาทิตย์ที่ 6 ตุลาคม 2567
                                </p>
                            </div>
                            <div class="">
                                <p
                                    class="cursor-pointer rounded-full bg-red-700 px-8 py-1 text-sm font-semibold text-white hover:brightness-110 lg:text-base"
                                >
                                    13:00
                                </p>
                            </div>
                        </div>
                    </div>

                    <div
                        class="my-4 overflow-hidden rounded-md bg-black/90 text-white"
                    >
                        <div class="flex flex-col md:flex-row">
                            <div
                                class="width-[20%] basis-[20%] bg-black/90 p-2 md:p-4"
                            >
                                <img
                                    src="https://www.thaiticketmajor.com/img_seat/prefix_1/0700/36700/36700-66c3119086c68-s.gif"
                                />
                            </div>
                            <div class="width-[80%] basis-[80%]">
                                <div class="flex items-start px-4 py-2 md:py-3">
                                    <lucide-angular
                                        [img]="MapPinIcon"
                                        class="mr-2 inline-block size-5 opacity-80"
                                    ></lucide-angular>
                                    <p class="text-md flex-grow md:text-lg">
                                        ศูนย์ประชุมนานาชาติฉลองสิริราชสมบัติครบ
                                        ๖๐ ปี (หาดใหญ่) - คอนเวนชั่น ฮอลล์
                                    </p>
                                </div>
                                <div class="px-4 py-3 md:py-1">
                                    <div class="mb-1">
                                        <p class="text-sm text-zinc-400">
                                            ราคาบัตร
                                        </p>
                                    </div>
                                    <div class="pb-2">
                                        <p class="text-sm">
                                            3,500 / 3,000 / 2,500 / 2,000 /
                                            1,200
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center bg-[#222] px-4 py-2.5">
                            <div class="flex-grow">
                                <p class="text-sm font-bold text-zinc-400">
                                    วันที่แสดง
                                </p>
                            </div>
                            <div class="">
                                <p class="text-sm font-bold text-zinc-400">
                                    เวลา
                                </p>
                            </div>
                        </div>
                        <div
                            class="flex items-center border-t border-black bg-[#222] px-4 py-3"
                        >
                            <div class="flex-grow">
                                <p class="text-sm">
                                    วันอาทิตย์ที่ 13 ตุลาคม 2567
                                </p>
                            </div>
                            <div class="">
                                <p
                                    class="cursor-pointer rounded-full bg-red-700 px-8 py-1 text-sm font-semibold text-white hover:brightness-110 lg:text-base"
                                >
                                    13:00
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div
                class="advertise relative my-6 hidden basis-[calc(200%/3)] px-4 lg:block lg:max-w-[calc(100%/3)]"
            >
                <div class="sticky top-14">
                    <div class="advertise-tile">
                        <div class="h-40 bg-slate-200"></div>
                    </div>
                </div>
            </div> -->
        </div>
    </app-container>
</div>
