<div class="select-none">
    <div class="stage my-4">
        <p
            class="rounded-md border-2 border-gray-300 bg-gray-300 py-2 text-center text-lg font-bold text-gray-500 md:py-4"
        >
            STAGE
        </p>
    </div>

    <div class="flex overflow-x-auto">
        <div class="seat-map mx-auto p-4">
            <div class="flex flex-col gap-2">
                <div class="flex gap-0.5 md:gap-1">
                    <div class="seathead">A</div>
                    <div class="space"></div>
                    <div class="space"></div>
                    <div class="space"></div>
                    <div class="space"></div>
                    <div class="space"></div>
                    <div
                        class="seat-available P3500 selected"
                        data-seat-id="A6"
                        (click)="onSeatSelect($event)"
                    >
                        A6
                    </div>
                    <div class="seat-available P3500">A7</div>
                    <div class="seat-available P3500">A8</div>
                    <div class="seat-available P3500">A9</div>
                    <div class="seat-available P3500">A10</div>
                    <div class="seat-available P3500">A11</div>
                    <div class="seat-available P3500">A12</div>
                    <div class="seat-available P3500">A13</div>
                    <div class="seat-available P3500">A14</div>
                    <div class="seat-available P3500">A15</div>
                    <div class="seat-available P3500">A16</div>
                    <div class="seat-available P3500">A17</div>
                    <div class="seat-available P3500">A18</div>
                    <div class="seat-available P3500">A19</div>
                    <div class="seat-available P3500">A20</div>
                    <div class="seat-available P3500">A21</div>
                    <div class="seat-available P3500">A22</div>
                    <div class="seat-available P3500">A23</div>
                    <div class="seat-available P3500">A24</div>
                    <div class="seat-available P3500">A25</div>
                    <div class="seat-available P3500">A26</div>
                    <div class="seat-available P3500">A27</div>
                    <div class="seat-available P3500">A28</div>
                    <div class="seat-available P3500">A29</div>
                    <div class="seat-available P3500">A30</div>
                </div>
                <div class="flex gap-0.5 md:gap-1">
                    <div class="seathead">B</div>
                    <div class="space"></div>
                    <div class="space"></div>
                    <div class="space"></div>
                    <div class="space"></div>
                    <div class="seat-available">B5</div>
                    <div class="seat-available">B6</div>
                    <div class="seat-available">B7</div>
                    <div class="seat-available">B8</div>
                    <div class="seat-available">B9</div>
                    <div class="seat-available">B10</div>
                    <div class="seat-available">B11</div>
                    <div class="seat-available">B12</div>
                    <div class="seat-available">B13</div>
                    <div class="seat-available">B14</div>
                    <div class="seat-available">B15</div>
                    <div class="seat-available">B16</div>
                    <div class="seat-available">B17</div>
                    <div class="seat-available">B18</div>
                    <div class="seat-available">B19</div>
                    <div class="seat-available">B20</div>
                    <div class="seat-available">B21</div>
                    <div class="seat-available">B22</div>
                    <div class="seat-available">B23</div>
                    <div class="seat-available">B24</div>
                    <div class="seat-available">B25</div>
                    <div class="seat-available">B26</div>
                    <div class="seat-available">B27</div>
                    <div class="seat-available">B28</div>
                    <div class="seat-available">B29</div>
                    <div class="seat-available">B30</div>
                </div>
                <div class="flex gap-0.5 md:gap-1">
                    <div class="seathead">C</div>
                    <div class="space"></div>
                    <div class="space"></div>
                    <div class="space"></div>
                    <div class="seat-available">C4</div>
                    <div class="seat-available">C5</div>
                    <div class="seat-available">C6</div>
                    <div class="seat-available">C7</div>
                    <div class="seat-available">C8</div>
                    <div class="seat-available">C9</div>
                    <div class="seat-available">C10</div>
                    <div class="seat-available">C11</div>
                    <div class="seat-available">C12</div>
                    <div class="seat-available">C13</div>
                    <div class="seat-available">C14</div>
                    <div class="seat-available">C15</div>
                    <div class="seat-available">C16</div>
                    <div class="seat-available">C17</div>
                    <div class="seat-available">C18</div>
                    <div class="seat-available">C19</div>
                    <div class="seat-available">C20</div>
                    <div class="seat-available">C21</div>
                    <div class="seat-available">C22</div>
                    <div class="seat-available">C23</div>
                    <div class="seat-available">C24</div>
                    <div class="seat-available">C25</div>
                    <div class="seat-available">C26</div>
                    <div class="seat-available">C27</div>
                    <div class="seat-available">C28</div>
                    <div class="seat-available">C29</div>
                    <div class="seat-available">C30</div>
                </div>
                <div class="flex gap-0.5 md:gap-1">
                    <div class="seathead">D</div>
                    <div class="space"></div>
                    <div class="space"></div>
                    <div class="seat-available">D3</div>
                    <div class="seat-available">D4</div>
                    <div class="seat-available">D5</div>
                    <div class="seat-available">D6</div>
                    <div class="seat-available">D7</div>
                    <div class="seat-available">D8</div>
                    <div class="seat-available">D9</div>
                    <div class="seat-available">D10</div>
                    <div class="seat-available">D11</div>
                    <div class="seat-available">D12</div>
                    <div class="seat-available">D13</div>
                    <div class="seat-available">D14</div>
                    <div class="seat-available">D15</div>
                    <div class="seat-available">D16</div>
                    <div class="seat-available">D17</div>
                    <div class="seat-available">D18</div>
                    <div class="seat-available">D19</div>
                    <div class="seat-available">D20</div>
                    <div class="seat-available">D21</div>
                    <div class="seat-available">D22</div>
                    <div class="seat-available">D23</div>
                    <div class="seat-available">D24</div>
                    <div class="seat-available">D25</div>
                    <div class="seat-available">D26</div>
                    <div class="seat-available">D27</div>
                    <div class="seat-available">D28</div>
                    <div class="seat-available">D29</div>
                    <div class="seat-available">D30</div>
                </div>
                <div class="flex gap-0.5 md:gap-1">
                    <div class="seathead">E</div>
                    <div class="space"></div>
                    <div class="seat-available">E2</div>
                    <div class="seat-available">E3</div>
                    <div class="seat-available">E4</div>
                    <div class="seat-available">E5</div>
                    <div class="seat-available">E6</div>
                    <div class="seat-available">E7</div>
                    <div class="seat-available">E8</div>
                    <div class="seat-available">E9</div>
                    <div class="seat-available">E10</div>
                    <div class="seat-available">E11</div>
                    <div class="seat-available">E12</div>
                    <div class="seat-available">E13</div>
                    <div class="seat-available">E14</div>
                    <div class="seat-available">E15</div>
                    <div class="seat-available">E16</div>
                    <div class="seat-available">E17</div>
                    <div class="seat-available">E18</div>
                    <div class="seat-available">E19</div>
                    <div class="seat-available">E20</div>
                    <div class="seat-available">E21</div>
                    <div class="seat-available">E22</div>
                    <div class="seat-available">E23</div>
                    <div class="seat-available">E24</div>
                    <div class="seat-available">E25</div>
                    <div class="seat-available">E26</div>
                    <div class="seat-available">E27</div>
                    <div class="seat-available">E28</div>
                    <div class="seat-available">E29</div>
                    <div class="seat-available">E30</div>
                </div>
                <div class="flex gap-0.5 md:gap-1">
                    <div class="seathead">F</div>
                    <div class="seat-available">F1</div>
                    <div class="seat-available">F2</div>
                    <div class="seat-available">F3</div>
                    <div class="seat-available">F4</div>
                    <div class="seat-available">F5</div>
                    <div class="seat-available">F6</div>
                    <div class="seat-available">F7</div>
                    <div class="seat-available">F8</div>
                    <div class="seat-available">F9</div>
                    <div class="seat-available">F10</div>
                    <div class="seat-available">F11</div>
                    <div class="seat-available">F12</div>
                    <div class="seat-available">F13</div>
                    <div class="seat-available">F14</div>
                    <div class="seat-available">F15</div>
                    <div class="seat-available">F16</div>
                    <div class="seat-available">F17</div>
                    <div class="seat-available">F18</div>
                    <div class="seat-available">F19</div>
                    <div class="seat-available">F20</div>
                    <div class="seat-available">F21</div>
                    <div class="seat-available">F22</div>
                    <div class="seat-available">F23</div>
                    <div class="seat-available">F24</div>
                    <div class="seat-available">F25</div>
                    <div class="seat-available">F26</div>
                    <div class="seat-available">F27</div>
                    <div class="seat-available">F28</div>
                    <div class="seat-available">F29</div>
                    <div class="seat-available">F30</div>
                </div>
                <div class="flex gap-0.5 md:gap-1">
                    <div class="seathead">G</div>
                    <div class="seat-available">G1</div>
                    <div class="seat-available">G2</div>
                    <div class="seat-available">G3</div>
                    <div class="seat-available">G4</div>
                    <div class="seat-available">G5</div>
                    <div class="seat-available">G6</div>
                    <div class="seat-available">G7</div>
                    <div class="seat-available">G8</div>
                    <div class="seat-available">G9</div>
                    <div class="seat-available">G10</div>
                    <div class="seat-available">G11</div>
                    <div class="seat-available">G12</div>
                    <div class="seat-available">G13</div>
                    <div class="seat-available">G14</div>
                    <div class="seat-available">G15</div>
                    <div class="seat-available">G16</div>
                    <div class="seat-available">G17</div>
                    <div class="seat-available">G18</div>
                    <div class="seat-available">G19</div>
                    <div class="seat-available">G20</div>
                    <div class="seat-available">G21</div>
                    <div class="seat-available">G22</div>
                    <div class="seat-available">G23</div>
                    <div class="seat-available">G24</div>
                    <div class="seat-available">G25</div>
                    <div class="seat-available">G26</div>
                    <div class="seat-available">G27</div>
                    <div class="seat-available">G28</div>
                    <div class="seat-available">G29</div>
                    <div class="seat-available">G30</div>
                </div>
                <div class="flex gap-0.5 md:gap-1">
                    <div class="seathead">H</div>
                    <div class="seat-available">H1</div>
                    <div class="seat-available">H2</div>
                    <div class="seat-available">H3</div>
                    <div class="seat-available">H4</div>
                    <div class="seat-available">H5</div>
                    <div class="seat-available">H6</div>
                    <div class="seat-available">H7</div>
                    <div class="seat-available">H8</div>
                    <div class="seat-available">H9</div>
                    <div class="seat-available">H10</div>
                    <div class="seat-available">H11</div>
                    <div class="seat-available">H12</div>
                    <div class="seat-available">H13</div>
                    <div class="seat-available">H14</div>
                    <div class="seat-available">H15</div>
                    <div class="seat-available">H16</div>
                    <div class="seat-available">H17</div>
                    <div class="seat-available">H18</div>
                    <div class="seat-available">H19</div>
                    <div class="seat-available">H20</div>
                    <div class="seat-available">H21</div>
                    <div class="seat-available">H22</div>
                    <div class="seat-available">H23</div>
                    <div class="seat-available">H24</div>
                    <div class="seat-available">H25</div>
                    <div class="seat-available">H26</div>
                    <div class="seat-available">H27</div>
                    <div class="seat-available">H28</div>
                    <div class="seat-available">H29</div>
                    <div class="seat-available">H30</div>
                </div>
                <div class="flex gap-0.5 md:gap-1">
                    <div class="seathead">I</div>
                    <div class="seat-available">I1</div>
                    <div class="seat-available">I2</div>
                    <div class="seat-available">I3</div>
                    <div class="seat-available">I4</div>
                    <div class="seat-available">I5</div>
                    <div class="seat-available">I6</div>
                    <div class="seat-available">I7</div>
                    <div class="seat-available">I8</div>
                    <div class="seat-available">I9</div>
                    <div class="seat-available">I10</div>
                    <div class="seat-available">I11</div>
                    <div class="seat-available">I12</div>
                    <div class="seat-available">I13</div>
                    <div class="seat-available">I14</div>
                    <div class="seat-available">I15</div>
                    <div class="seat-available">I16</div>
                    <div class="seat-available">I17</div>
                    <div class="seat-available">I18</div>
                    <div class="seat-available">I19</div>
                    <div class="seat-available">I20</div>
                    <div class="seat-available">I21</div>
                    <div class="seat-available">I22</div>
                    <div class="seat-available">I23</div>
                    <div class="seat-available">I24</div>
                    <div class="seat-available">I25</div>
                    <div class="seat-available">I26</div>
                    <div class="seat-available">I27</div>
                    <div class="seat-available">I28</div>
                    <div class="seat-available">I29</div>
                    <div class="seat-available">I30</div>
                </div>
                <div class="flex gap-0.5 md:gap-1">
                    <div class="seathead">J</div>
                    <div class="seat-available">J1</div>
                    <div class="seat-available">J2</div>
                    <div class="seat-available">J3</div>
                    <div class="seat-available">J4</div>
                    <div class="seat-available">J5</div>
                    <div class="seat-available">J6</div>
                    <div class="seat-available">J7</div>
                    <div class="seat-available">J8</div>
                    <div class="seat-available">J9</div>
                    <div class="seat-available">J10</div>
                    <div class="seat-available">J11</div>
                    <div class="seat-available">J12</div>
                    <div class="seat-available">J13</div>
                    <div class="seat-available">J14</div>
                    <div class="seat-available">J15</div>
                    <div class="seat-available">J16</div>
                    <div class="seat-available">J17</div>
                    <div class="seat-available">J18</div>
                    <div class="seat-available">J19</div>
                    <div class="seat-available">J20</div>
                    <div class="seat-available">J21</div>
                    <div class="seat-available">J22</div>
                    <div class="seat-available">J23</div>
                    <div class="seat-available">J24</div>
                    <div class="seat-available">J25</div>
                    <div class="seat-available">J26</div>
                    <div class="seat-available">J27</div>
                    <div class="seat-available">J28</div>
                    <div class="seat-available">J29</div>
                    <div class="seat-available">J30</div>
                </div>
                <div class="flex gap-0.5 md:gap-1">
                    <div class="seathead">K</div>
                    <div class="seat-available">K1</div>
                    <div class="seat-available">K2</div>
                    <div class="seat-available">K3</div>
                    <div class="seat-available">K4</div>
                    <div class="seat-available">K5</div>
                    <div class="seat-available">K6</div>
                    <div class="seat-available">K7</div>
                    <div class="seat-available">K8</div>
                    <div class="seat-available">K9</div>
                    <div class="seat-available">K10</div>
                    <div class="seat-available">K11</div>
                    <div class="seat-available">K12</div>
                    <div class="seat-available">K13</div>
                    <div class="seat-available">K14</div>
                    <div class="seat-available">K15</div>
                    <div class="seat-available">K16</div>
                    <div class="seat-available">K17</div>
                    <div class="seat-available">K18</div>
                    <div class="seat-available">K19</div>
                    <div class="seat-available">K20</div>
                    <div class="seat-available">K21</div>
                    <div class="seat-available">K22</div>
                    <div class="seat-available">K23</div>
                    <div class="seat-available">K24</div>
                    <div class="seat-available">K25</div>
                    <div class="seat-available">K26</div>
                    <div class="seat-available">K27</div>
                    <div class="seat-available">K28</div>
                    <div class="seat-available">K29</div>
                    <div class="seat-available">K30</div>
                </div>
                <div class="flex gap-0.5 md:gap-1">
                    <div class="seathead">L</div>
                    <div class="seat-available">L1</div>
                    <div class="seat-available">L2</div>
                    <div class="seat-available">L3</div>
                    <div class="seat-available">L4</div>
                    <div class="seat-available">L5</div>
                    <div class="seat-available">L6</div>
                    <div class="seat-available">L7</div>
                    <div class="seat-available">L8</div>
                    <div class="seat-available">L9</div>
                    <div class="seat-available">L10</div>
                    <div class="seat-available">L11</div>
                    <div class="seat-available">L12</div>
                    <div class="seat-available">L13</div>
                    <div class="seat-available">L14</div>
                    <div class="seat-available">L15</div>
                    <div class="seat-available">L16</div>
                    <div class="seat-available">L17</div>
                    <div class="seat-available">L18</div>
                    <div class="seat-available">L19</div>
                    <div class="seat-available">L20</div>
                    <div class="seat-available">L21</div>
                    <div class="seat-available">L22</div>
                    <div class="seat-available">L23</div>
                    <div class="seat-available">L24</div>
                    <div class="seat-available">L25</div>
                    <div class="seat-available">L26</div>
                    <div class="seat-available">L27</div>
                    <div class="seat-available">L28</div>
                    <div class="seat-available">L29</div>
                    <div class="seat-available">L30</div>
                </div>
                <div class="flex gap-0.5 md:gap-1">
                    <div class="seathead">M</div>
                    <div class="seat-available">M1</div>
                    <div class="seat-available">M2</div>
                    <div class="seat-available">M3</div>
                    <div class="seat-available">M4</div>
                    <div class="seat-available">M5</div>
                    <div class="seat-available">M6</div>
                    <div class="seat-available">M7</div>
                    <div class="seat-available">M8</div>
                    <div class="seat-available">M9</div>
                    <div class="seat-available">M10</div>
                    <div class="seat-available">M11</div>
                    <div class="seat-available">M12</div>
                    <div class="seat-available">M13</div>
                    <div class="seat-available">M14</div>
                    <div class="seat-available">M15</div>
                    <div class="seat-available">M16</div>
                    <div class="seat-available">M17</div>
                    <div class="seat-available">M18</div>
                    <div class="seat-available">M19</div>
                    <div class="seat-available">M20</div>
                    <div class="seat-available">M21</div>
                    <div class="seat-available">M22</div>
                    <div class="seat-available">M23</div>
                    <div class="seat-available">M24</div>
                    <div class="seat-available">M25</div>
                    <div class="seat-available">M26</div>
                    <div class="seat-available">M27</div>
                    <div class="seat-available">M28</div>
                    <div class="seat-available">M29</div>
                    <div class="seat-available">M30</div>
                </div>
                <div class="flex gap-0.5 md:gap-1">
                    <div class="seathead">N</div>
                    <div class="seat-available">N1</div>
                    <div class="seat-available">N2</div>
                    <div class="seat-available">N3</div>
                    <div class="seat-available">N4</div>
                    <div class="seat-available">N5</div>
                    <div class="seat-available">N6</div>
                    <div class="seat-available">N7</div>
                    <div class="seat-available">N8</div>
                    <div class="seat-available">N9</div>
                    <div class="seat-available">N10</div>
                    <div class="seat-available">N11</div>
                    <div class="seat-available">N12</div>
                    <div class="seat-available">N13</div>
                    <div class="seat-available">N14</div>
                    <div class="seat-available">N15</div>
                    <div class="seat-available">N16</div>
                    <div class="seat-available">N17</div>
                    <div class="seat-available">N18</div>
                    <div class="seat-available">N19</div>
                    <div class="seat-available">N20</div>
                    <div class="seat-available">N21</div>
                    <div class="seat-available">N22</div>
                    <div class="seat-available">N23</div>
                    <div class="seat-available">N24</div>
                    <div class="seat-available">N25</div>
                    <div class="seat-available">N26</div>
                    <div class="seat-available">N27</div>
                    <div class="seat-available">N28</div>
                    <div class="seat-available">N29</div>
                    <div class="seat-available">N30</div>
                </div>
                <div class="flex gap-0.5 md:gap-1">
                    <div class="seathead">O</div>
                    <div class="seat-available">O1</div>
                    <div class="seat-available">O2</div>
                    <div class="seat-available">O3</div>
                    <div class="seat-available">O4</div>
                    <div class="seat-available">O5</div>
                    <div class="seat-available">O6</div>
                    <div class="seat-available">O7</div>
                    <div class="seat-available">O8</div>
                    <div class="seat-available">O9</div>
                    <div class="seat-available">O10</div>
                    <div class="seat-available">O11</div>
                    <div class="seat-available">O12</div>
                    <div class="seat-available">O13</div>
                    <div class="seat-available">O14</div>
                    <div class="seat-available">O15</div>
                    <div class="seat-available">O16</div>
                    <div class="seat-available">O17</div>
                    <div class="seat-available">O18</div>
                    <div class="seat-available">O19</div>
                    <div class="seat-available">O20</div>
                    <div class="seat-available">O21</div>
                    <div class="seat-available">O22</div>
                    <div class="seat-available">O23</div>
                    <div class="seat-available">O24</div>
                    <div class="seat-available">O25</div>
                    <div class="seat-available">O26</div>
                    <div class="seat-available">O27</div>
                    <div class="seat-available">O28</div>
                    <div class="seat-available">O29</div>
                    <div class="seat-available">O30</div>
                </div>
            </div>
        </div>
    </div>
</div>
