<div class="h-16 border-b bg-white shadow-md lg:h-20">
    <div class="h-1 bg-blue-700"></div>
    <app-container>
        <nav class="flex h-16 items-center justify-between lg:h-20">
            <div class="flex items-center gap-8">
                <a
                    routerLink="/"
                    class="text-lg font-extrabold uppercase tracking-wider lg:text-2xl"
                    >Ticket<span class="text-blue-700">Hub</span></a
                >

                <ul class="hidden items-center gap-10 lg:flex">
                    <li>
                        <a
                            routerLink="/"
                            class="font-semibold text-gray-700 hover:text-blue-700"
                            >หน้าแรก</a
                        >
                    </li>
                    <li>
                        <a
                            class="flex cursor-pointer items-center gap-1 font-semibold text-gray-700 hover:text-blue-700"
                            ><span>ทุกงานแสดง</span>
                            <lucide-angular
                                [img]="ChevronDownIcon"
                                class="size-4"
                            ></lucide-angular
                        ></a>
                    </li>
                    <li>
                        <a
                            routerLink="/about"
                            class="font-semibold text-gray-700 hover:text-blue-700"
                            >สิทธิประโยชน์</a
                        >
                    </li>
                    <li>
                        <a
                            routerLink="/contact"
                            class="font-semibold text-gray-700 hover:text-blue-700"
                            >ติดต่อเรา</a
                        >
                    </li>
                </ul>
            </div>

            <!-- language selected -->
            <div class="hidden items-center gap-4 lg:flex">
                <div class="flex gap-1 text-gray-700">
                    <span class="font-bold text-blue-700">TH</span>
                    <span>|</span>
                    <span>ENG</span>
                </div>

                <button
                    class="rounded-full bg-gradient-to-r from-blue-700 to-blue-500 px-5 py-2 font-medium text-white"
                >
                    เข้าสู่ระบบ
                </button>
            </div>
        </nav>
    </app-container>
</div>
