<div class="md:mt-8">
    <div class="event-billboard">
        <!-- Background image -->
        <div class="event-bg">
            <div class="event-detail-bg-img"></div>
        </div>

        <div class="relative mx-auto max-w-screen-xl">
            <!-- Bread crumb -->
            <div class="breadcrumb relative z-10 my-6">
                <a href="/" class="item text-xs text-white opacity-60"
                    ><i>หน้าหลัก</i></a
                >
                <a href="/" class="item text-xs text-white opacity-60"
                    ><i>คอนเสิร์ต</i></a
                >
                <span class="item text-xs text-white opacity-60">
                    Knock Knock Knock :BUS 1st THAILAND FANCON TOUR
                </span>
            </div>

            <div class="relative mt-16 flex flex-col lg:flex-row">
                <div
                    class="z-10 mx-auto flex flex-shrink-0 flex-grow-0 basis-[240px]"
                >
                    <div class="voh relative w-[240px] shadow-2xl md:pb-4">
                        <img
                            src="https://www.thaiticketmajor.com/img_poster/prefix_1/0049/6049/knock-knock-knock-bus-1st-thailand-fancon-tour-66d2c5d931827-l.jpg"
                            alt="event-detail-img"
                            class="h-full rounded-md shadow-2xl"
                        />
                    </div>
                </div>

                <div class="relative flex flex-grow flex-col px-4">
                    <div class="flex flex-grow flex-col">
                        <div class="event-name z-10 px-4">
                            <div class="my-4 text-sm text-[#eee] opacity-60">
                                <p>คอนเสิร์ต</p>
                            </div>
                            <div class="my-4">
                                <h1
                                    class="title text-xl font-semibold text-white lg:text-4xl"
                                >
                                    Knock Knock Knock : <br />BUS 1st THAILAND
                                    FANCON TOUR
                                </h1>
                            </div>
                        </div>
                        <div class="relative h-full">
                            <div
                                class="event-detail flex h-full flex-col md:flex-row"
                            >
                                <div class="z-10 flex-grow px-4">
                                    <div class="my-5 flex">
                                        <lucide-angular
                                            [img]="CalendarIcon"
                                            class="mr-4 inline-block size-6 text-[#eee] opacity-80"
                                        ></lucide-angular>
                                        <div class="">
                                            <p
                                                class="text-xs text-[#eee] opacity-60"
                                            >
                                                วันที่แสดง
                                            </p>
                                            <p
                                                class="text-sm font-medium text-white"
                                            >
                                                วันอาทิตย์ที่ 29 กันยายน 2567 -
                                                วันอาทิตย์ที่ 27 ตุลาคม 2567
                                            </p>
                                        </div>
                                    </div>
                                    <div class="my-5 flex">
                                        <lucide-angular
                                            [img]="MapPinIcon"
                                            class="mr-4 inline-block size-6 text-[#eee] opacity-80"
                                        ></lucide-angular>
                                        <div class="">
                                            <p
                                                class="text-xs text-[#eee] opacity-60"
                                            >
                                                สถานที่แสดง
                                            </p>
                                            <p
                                                class="text-sm font-medium text-white"
                                            >
                                                ขอนแก่น / โคราช / สงขลา
                                                (หาดใหญ่) / ชลบุรี (ศรีราชา) /
                                                เชียงใหม่
                                            </p>
                                        </div>
                                    </div>
                                    <div class="my-5 flex">
                                        <lucide-angular
                                            [img]="ClockIcon"
                                            class="mr-4 inline-block size-6 text-[#eee] opacity-80"
                                        ></lucide-angular>
                                        <div class="">
                                            <p
                                                class="text-xs text-[#eee] opacity-60"
                                            >
                                                ประตูเปิด
                                            </p>
                                            <p
                                                class="text-sm font-medium text-white"
                                            >
                                                ก่อนการแสดงเริ่มประมาณ 1 ชั่วโมง
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="z-10 flex-grow basis-1/2 bg-black/0 px-4 lg:max-w-[50%] lg:bg-black/20"
                                >
                                    <div class="my-5 flex">
                                        <lucide-angular
                                            [img]="CalendarCheck2Icon"
                                            class="mr-4 inline-block size-6 text-[#eee] opacity-80"
                                        ></lucide-angular>
                                        <div class="">
                                            <p
                                                class="text-xs text-[#eee] opacity-60"
                                            >
                                                วันเปิดจำหน่าย
                                            </p>
                                            <p
                                                class="text-sm font-medium text-white"
                                            >
                                                วันเสาร์ที่ 31 สิงหาคม 2567,
                                                10:00 น.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="my-5 flex">
                                        <lucide-angular
                                            [img]="CircleDollarSignIcon"
                                            class="mr-4 inline-block size-6 text-[#eee] opacity-80"
                                        ></lucide-angular>
                                        <div class="">
                                            <p
                                                class="text-xs text-[#eee] opacity-60"
                                            >
                                                ราคาบัตร
                                            </p>
                                            <p
                                                class="text-sm font-medium text-white"
                                            >
                                                3,500 / 3,500 / 3,000 / 3,000 /
                                                2,500 / 2,500 / 2,000 / 2,000 /
                                                1,200 / 1,200
                                            </p>
                                        </div>
                                    </div>
                                    <div class="my-5 flex">
                                        <lucide-angular
                                            [img]="TicketsIcon"
                                            class="mr-4 inline-block size-6 text-[#eee] opacity-80"
                                        ></lucide-angular>
                                        <div class="">
                                            <p
                                                class="text-xs text-[#eee] opacity-60"
                                            >
                                                Ticket Status
                                            </p>
                                            <p
                                                class="mt-[6px] rounded-[4px] border-[1px] border-[#ff1f1f] px-2 py-1 text-center text-xs uppercase text-[#ff1f1f]"
                                            >
                                                SOLD OUT
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-container></app-container>
</div>
