<div class="event-billboard">
    <!-- Background image -->
    <div class="event-bg">
        <div class="event-detail-bg-img"></div>
    </div>

    <app-container>
        <!-- Bread crumb -->
        <div class="breadcrumb relative z-10 my-6">
            <a href="/" class="item text-xs text-white opacity-60"
                ><i>หน้าหลัก</i></a
            >
            <a href="/" class="item text-xs text-white opacity-60"
                ><i>{{ type }}</i></a
            >
            <span class="item text-xs text-white opacity-60">
                <!-- remove <br /> from title text -->
                <i>{{ getBreadcrumbEventTitle() }}</i>
            </span>
        </div>

        <div class="relative flex flex-col lg:mt-16 lg:flex-row">
            <div
                class="z-10 mx-auto flex flex-shrink-0 flex-grow-0 basis-[240px]"
            >
                <div class="relative h-full w-[240px] shadow-2xl lg:pb-4">
                    <img
                        src="assets/img-posters/{{ poster_url }}"
                        alt="event-detail-img"
                        class="h-full rounded-md shadow-2xl"
                    />
                </div>
            </div>

            <div class="relative flex flex-grow flex-col md:px-4">
                <div class="flex flex-grow flex-col">
                    <div class="event-name z-10">
                        <div class="my-4 text-sm text-[#eee] opacity-60">
                            <p>{{ type }}</p>
                        </div>
                        <div class="my-4">
                            <h1
                                class="title text-xl font-semibold text-white lg:text-4xl"
                                [innerHTML]="title"
                            ></h1>
                        </div>
                    </div>
                    <div class="relative h-full">
                        <div
                            class="event-detail flex h-full flex-col md:flex-row"
                        >
                            <div class="z-10 flex-grow">
                                <div class="my-5 flex">
                                    <lucide-angular
                                        [img]="CalendarIcon"
                                        class="mr-4 inline-block size-6 text-[#eee] opacity-80"
                                    ></lucide-angular>
                                    <div class="">
                                        <p
                                            class="text-xs text-[#eee] opacity-60"
                                        >
                                            วันที่แสดง
                                        </p>
                                        <p
                                            class="text-sm font-medium text-white"
                                        >
                                            {{ eventDate }}
                                        </p>
                                    </div>
                                </div>
                                <div class="my-5 flex">
                                    <lucide-angular
                                        [img]="MapPinIcon"
                                        class="mr-4 inline-block size-6 text-[#eee] opacity-80"
                                    ></lucide-angular>
                                    <div class="">
                                        <p
                                            class="text-xs text-[#eee] opacity-60"
                                        >
                                            สถานที่แสดง
                                        </p>
                                        <p
                                            class="text-sm font-medium text-white"
                                        >
                                            {{ location }}
                                        </p>
                                    </div>
                                </div>
                                <div class="my-5 flex">
                                    <lucide-angular
                                        [img]="ClockIcon"
                                        class="mr-4 inline-block size-6 text-[#eee] opacity-80"
                                    ></lucide-angular>
                                    <div class="">
                                        <p
                                            class="text-xs text-[#eee] opacity-60"
                                        >
                                            ประตูเปิด
                                        </p>
                                        <p
                                            class="text-sm font-medium text-white"
                                        >
                                            @if (doorOpen !== 0) {
                                                ก่อนการแสดงเริ่มประมาณ
                                                {{ doorOpen }} ชั่วโมง
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="z-10 flex-grow basis-1/2 bg-black/0 md:px-4 lg:max-w-[50%] lg:bg-black/20"
                            >
                                <div class="my-5 flex">
                                    <lucide-angular
                                        [img]="CalendarCheck2Icon"
                                        class="mr-4 inline-block size-6 text-[#eee] opacity-80"
                                    ></lucide-angular>
                                    <div class="">
                                        <p
                                            class="text-xs text-[#eee] opacity-60"
                                        >
                                            วันเปิดจำหน่าย
                                        </p>
                                        <p
                                            class="text-sm font-medium text-white"
                                        >
                                            {{ publicSale }}
                                        </p>
                                    </div>
                                </div>
                                <div class="my-5 flex">
                                    <lucide-angular
                                        [img]="CircleDollarSignIcon"
                                        class="mr-4 inline-block size-6 text-[#eee] opacity-80"
                                    ></lucide-angular>
                                    <div class="">
                                        <p
                                            class="text-xs text-[#eee] opacity-60"
                                        >
                                            ราคาบัตร
                                        </p>
                                        <p
                                            class="text-sm font-medium text-white"
                                        >
                                            {{ ticketPrice }}
                                        </p>
                                    </div>
                                </div>
                                <div class="my-5 flex">
                                    <lucide-angular
                                        [img]="TicketsIcon"
                                        class="mr-4 inline-block size-6 text-[#eee] opacity-80"
                                    ></lucide-angular>
                                    <div class="">
                                        <p
                                            class="text-xs text-[#eee] opacity-60"
                                        >
                                            Ticket Status
                                        </p>
                                        @if (ticketStatus === 1) {
                                            <p
                                                class="mt-[6px] rounded-[4px] border-[1px] border-[#32af00] px-2 py-1 text-center text-xs uppercase text-[#32af00]"
                                            >
                                                ON SALE NOW
                                            </p>
                                        } @else if (ticketStatus === 2) {
                                            <p
                                                class="mt-[6px] rounded-[4px] border-[1px] border-[#ff1f1f] px-2 py-1 text-center text-xs uppercase text-[#ff1f1f]"
                                            >
                                                SOLD OUT
                                            </p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-container>
</div>
