<div class="event-seating-selection flex h-full items-center justify-center">
    <div class="relative m-12 flex w-screen max-w-screen-xl flex-col">
        <div class="overflow-hidden rounded-md bg-slate-50 text-black">
            <div class="w-full select-none border-b">
                <h2 class="bg-white px-10 py-5 text-center text-lg font-bold">
                    เลือกที่นั่ง
                </h2>
            </div>

            <div class="grid grid-rows-[1fr_2fr_0.5fr]">
                <div
                    class="grid w-full select-none grid-flow-col grid-cols-[1.5fr_2.5fr_0.5fr] p-5"
                >
                    <div class="ticket-zone rounded-md bg-white px-4 py-3">
                        <div class="my-1.5 flex">
                            <div class="basis-1/2">
                                <p class="text-sm text-gray-400">รอบการแสดง</p>
                            </div>
                            <div class="basis-1/2">
                                <p class="text-right font-semibold">
                                    Sun 29 Sep 2024 13:00
                                </p>
                            </div>
                        </div>
                        <div class="my-1.5 flex">
                            <div class="basis-1/2">
                                <p class="text-sm text-gray-400">โซนที่นั่ง</p>
                            </div>
                            <div class="basis-1/2">
                                <p class="text-right font-semibold">C1</p>
                            </div>
                        </div>
                        <div class="my-1.5 flex">
                            <div class="basis-1/2">
                                <p class="text-sm text-gray-400">สถานะ</p>
                            </div>
                            <div class="basis-1/2">
                                <p
                                    class="text-right font-semibold text-green-700"
                                >
                                    Available
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="ticket-price-list mx-4 rounded-md">
                        <div class="grid h-full grid-rows-2 gap-y-4">
                            <div
                                class="seat-price flex items-center bg-white px-4 py-3"
                            >
                                <div class="flex flex-grow">
                                    <div class="flex-grow">
                                        <p class="text-sm text-gray-400">
                                            ราคาบัตร
                                        </p>
                                    </div>
                                    <div class="flex gap-x-4">
                                        <div class="flex items-center gap-2">
                                            <div
                                                class="size-5 rounded-full bg-green-600"
                                            ></div>
                                            <span class="text-sm">3,500</span>
                                        </div>

                                        <div class="flex items-center gap-2">
                                            <div
                                                class="size-5 rounded-full bg-yellow-400"
                                            ></div>
                                            <span class="text-sm">3,000</span>
                                        </div>

                                        <div class="flex items-center gap-2">
                                            <div
                                                class="size-5 rounded-full bg-orange-400"
                                            ></div>
                                            <span class="text-sm">2,500</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="seat-type flex items-center bg-white px-4 py-3"
                            >
                                <div class="flex flex-grow">
                                    <div class="flex-grow">
                                        <p class="text-sm text-gray-400">
                                            สถานะที่นั่ง
                                        </p>
                                    </div>
                                    <div class="flex gap-6">
                                        <div class="flex items-center gap-2">
                                            <div
                                                class="size-5 rounded-full bg-blue-400"
                                            ></div>
                                            <span class="text-sm"
                                                >ที่นั่งว่าง</span
                                            >
                                        </div>
                                        <div class="flex items-center gap-2">
                                            <div class="size-5">
                                                <div
                                                    class="relative size-5 rounded-full bg-blue-400"
                                                >
                                                    <div
                                                        class="h-full w-full rounded-full bg-white opacity-50"
                                                    ></div>
                                                    <img
                                                        src="/assets/icons/seat-select.svg"
                                                        alt="seat-occupied"
                                                        class="absolute left-1/2 top-1/2 size-3 -translate-x-1/2 -translate-y-1/2 transform"
                                                    />
                                                </div>
                                            </div>
                                            <span class="text-sm"
                                                >เลือกแล้ว</span
                                            >
                                        </div>
                                        <div class="flex items-center gap-2">
                                            <div
                                                class="size-5 rounded-full bg-gray-300"
                                            ></div>
                                            <span class="text-sm"
                                                >รอชำระเงิน</span
                                            >
                                        </div>
                                        <div class="flex items-center gap-2">
                                            <div class="size-5">
                                                <img
                                                    src="/assets/icons/seat-not-available.svg"
                                                    alt="seat-occupied"
                                                    class="h-full w-full"
                                                />
                                            </div>
                                            <span class="text-sm"
                                                >ที่นั่งไม่ว่าง</span
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="timer gh flex items-center justify-center overflow-hidden rounded-md bg-white"
                    >
                        <div
                            class="relative h-full w-full overflow-hidden text-center"
                        >
                            <div
                                class="flex h-full flex-col items-center px-4 py-3"
                            >
                                <div class="flex w-full items-center">
                                    <span class="flex-grow text-gray-400">
                                        เวลาที่เหลือ
                                    </span>
                                    <span>
                                        <img
                                            src="https://www.svgrepo.com/show/449789/info-circle.svg"
                                            class="size-4"
                                        />
                                    </span>
                                </div>
                                <div class="m-2 flex-grow">
                                    <div class="flex h-full items-center">
                                        <p
                                            class="text-3xl font-semibold text-red-700"
                                        >
                                            {{
                                                timeRemaining * 1000
                                                    | date: "mm:ss"
                                            }}
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="absolute bottom-0 left-0 w-full">
                                <div
                                    class="h-2 bg-red-700 transition-all duration-1000 ease-linear"
                                    [style.width.%]="
                                        (timeRemaining / 180) * 100
                                    "
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="seat-plan px-5">
                    <div class="h-full bg-white px-4 py-3">1</div>
                </div>

                <div class="action p-5">
                    <div class="h-full bg-white px-4 py-3">1</div>
                </div>
            </div>
        </div>
    </div>
</div>
-
