<div class="bg-slate-50 lg:px-8">
    <div class="container mx-auto px-4 lg:max-w-screen-2xl">
        <div
            class="event-seating-selection flex h-full w-full items-center justify-center bg-slate-50 lg:max-w-screen-2xl"
        >
            <div class="relative flex w-screen flex-col lg:max-w-screen-2xl">
                <div class="my-5 bg-slate-50 text-black">
                    <div class="w-full select-none border-b">
                        <h2
                            class="bg-white px-10 py-4 text-center text-lg font-bold"
                        >
                            เลือกที่นั่ง
                        </h2>
                    </div>

                    <!-- small screen -->
                    <div
                        class="seat-type mt-2 flex items-center bg-white px-4 py-3 lg:hidden"
                    >
                        <div class="flex flex-grow items-center">
                            <div class="flex-grow">
                                <p class="text-xs text-gray-400">
                                    สถานะที่นั่ง
                                </p>
                            </div>
                            <div class="flex items-center gap-3">
                                <div class="flex items-center gap-2">
                                    <div
                                        class="size-4 rounded-full bg-blue-400"
                                    ></div>
                                    <span class="text-xs">ที่นั่งว่าง</span>
                                </div>
                                <div class="flex items-center gap-2">
                                    <div class="size-4">
                                        <div
                                            class="relative size-4 rounded-full bg-blue-400"
                                        >
                                            <div
                                                class="h-full w-full rounded-full bg-white opacity-50"
                                            ></div>
                                            <img
                                                src="/assets/icons/seat-select.svg"
                                                alt="seat-occupied"
                                                class="absolute left-1/2 top-1/2 size-4 -translate-x-1/2 -translate-y-1/2 transform"
                                            />
                                        </div>
                                    </div>
                                    <span class="text-xs">เลือกแล้ว</span>
                                </div>
                                <div class="flex items-center gap-2">
                                    <div
                                        class="size-4 rounded-full bg-gray-300"
                                    ></div>
                                    <span class="text-xs">รอชำระเงิน</span>
                                </div>
                                <div class="flex items-center gap-2">
                                    <div class="size-4">
                                        <img
                                            src="/assets/icons/seat-not-available.svg"
                                            alt="seat-occupied"
                                            class="h-full w-full"
                                        />
                                    </div>
                                    <span class="text-xs">ที่นั่งไม่ว่าง</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- large screen -->
                    <div class="grid">
                        <div
                            class="hidden w-full select-none grid-flow-col grid-cols-[1.5fr_2.5fr_0.5fr] py-5 lg:grid"
                        >
                            <div
                                class="ticket-zone rounded-md bg-white px-4 py-3"
                            >
                                <div class="my-1.5 flex">
                                    <div class="basis-1/3">
                                        <p class="text-sm text-gray-400">
                                            รอบการแสดง
                                        </p>
                                    </div>
                                    <div class="basis-2/3">
                                        <p class="text-right font-semibold">
                                            Sun 29 Sep 2024 13:00
                                        </p>
                                    </div>
                                </div>
                                <div class="my-1.5 flex items-center">
                                    <div class="basis-1/3">
                                        <p class="text-sm text-gray-400">
                                            โซนที่นั่ง
                                        </p>
                                    </div>
                                    <div class="basis-2/3">
                                        <p class="text-right font-semibold">
                                            A1
                                        </p>
                                    </div>
                                </div>
                                <div class="my-1.5 flex items-center">
                                    <div class="basis-1/3">
                                        <p class="text-sm text-gray-400">
                                            สถานะ
                                        </p>
                                    </div>
                                    <div class="basis-2/3">
                                        <p
                                            class="text-right font-semibold text-green-700"
                                        >
                                            Available
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="ticket-price-list mx-4 rounded-md">
                                <div class="grid h-full grid-rows-2 gap-y-4">
                                    <div
                                        class="seat-price flex items-center bg-white px-4 py-3"
                                    >
                                        <div
                                            class="flex flex-grow items-center"
                                        >
                                            <div class="flex-grow">
                                                <p
                                                    class="text-sm text-gray-400"
                                                >
                                                    ราคาบัตร
                                                </p>
                                            </div>
                                            <div
                                                class="flex items-center gap-x-4"
                                            >
                                                <div
                                                    class="flex items-center gap-2"
                                                >
                                                    <div
                                                        class="size-5 rounded-full bg-[#6BD4FD]"
                                                    ></div>
                                                    <span class="text-sm"
                                                        >3,500</span
                                                    >
                                                </div>

                                                <!-- <div class="flex items-center gap-2">
                                                    <div
                                                        class="size-5 rounded-full bg-yellow-400"
                                                    ></div>
                                                    <span class="text-sm">3,000</span>
                                                </div>
        
                                                <div class="flex items-center gap-2">
                                                    <div
                                                        class="size-5 rounded-full bg-orange-400"
                                                    ></div>
                                                    <span class="text-sm">2,500</span>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="seat-type flex items-center bg-white px-4 py-3"
                                    >
                                        <div
                                            class="flex flex-grow items-center"
                                        >
                                            <div class="flex-grow">
                                                <p
                                                    class="text-sm text-gray-400"
                                                >
                                                    สถานะที่นั่ง
                                                </p>
                                            </div>
                                            <div
                                                class="flex items-center gap-6"
                                            >
                                                <div
                                                    class="flex items-center gap-2"
                                                >
                                                    <div
                                                        class="size-5 rounded-full bg-blue-400"
                                                    ></div>
                                                    <span class="text-sm"
                                                        >ที่นั่งว่าง</span
                                                    >
                                                </div>
                                                <div
                                                    class="flex items-center gap-2"
                                                >
                                                    <div class="size-5">
                                                        <div
                                                            class="relative size-5 rounded-full bg-blue-400"
                                                        >
                                                            <div
                                                                class="h-full w-full rounded-full bg-white opacity-50"
                                                            ></div>
                                                            <img
                                                                src="/assets/icons/seat-select.svg"
                                                                alt="seat-occupied"
                                                                class="absolute left-1/2 top-1/2 size-3 -translate-x-1/2 -translate-y-1/2 transform"
                                                            />
                                                        </div>
                                                    </div>
                                                    <span class="text-sm"
                                                        >เลือกแล้ว</span
                                                    >
                                                </div>
                                                <div
                                                    class="flex items-center gap-2"
                                                >
                                                    <div
                                                        class="size-5 rounded-full bg-gray-300"
                                                    ></div>
                                                    <span class="text-sm"
                                                        >รอชำระเงิน</span
                                                    >
                                                </div>
                                                <div
                                                    class="flex items-center gap-2"
                                                >
                                                    <div class="size-5">
                                                        <img
                                                            src="/assets/icons/seat-not-available.svg"
                                                            alt="seat-occupied"
                                                            class="h-full w-full"
                                                        />
                                                    </div>
                                                    <span class="text-sm"
                                                        >ที่นั่งไม่ว่าง</span
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="timer gh flex items-center justify-center rounded-md bg-white"
                            >
                                <div class="relative h-full w-full text-center">
                                    <div
                                        class="flex h-full flex-col items-center px-4 py-3"
                                    >
                                        <div class="flex w-full items-center">
                                            <span
                                                class="flex-grow text-gray-400"
                                            >
                                                เวลาที่เหลือ
                                            </span>
                                            <span
                                                class="timer-tooltip-icon relative"
                                            >
                                                <img
                                                    src="https://www.svgrepo.com/show/449789/info-circle.svg"
                                                    class="size-4 cursor-pointer"
                                                />

                                                <div
                                                    class="timer-tooltip absolute bottom-6 right-0 z-10 hidden rounded-md bg-white p-2 shadow-md"
                                                >
                                                    <p
                                                        class="text-nowrap text-sm"
                                                    >
                                                        เวลาจะเริ่มนับถอยหลังเมื่อเลือกที่นั่งได้แล้ว
                                                        กรุณายืนยันที่นั่งภายในเวลาที่กำหนด
                                                    </p>
                                                </div>
                                            </span>
                                        </div>
                                        <div class="m-2 flex-grow">
                                            <div
                                                class="flex h-full items-center"
                                            >
                                                <p
                                                    class="text-3xl font-semibold text-red-700"
                                                >
                                                    {{
                                                        timeRemaining * 1000
                                                            | date: "mm:ss"
                                                    }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div
                                        class="absolute bottom-0 left-0 w-full overflow-hidden rounded-bl-md rounded-br-md"
                                    >
                                        <div
                                            class="h-2 bg-red-700 transition-all duration-1000 ease-linear"
                                            [style.width.%]="
                                                (timeRemaining / 180) * 100
                                            "
                                        ></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="seat-plan overflow-hidden">
                            <div
                                class="mb-4 mt-2 h-full rounded-md bg-white px-4 py-3 lg:mb-4"
                            >
                                <app-event-booking-seat></app-event-booking-seat>
                            </div>
                        </div>

                        <div class="action mt-2 rounded-md lg:mt-5">
                            <div
                                class="grid grid-cols-6 gap-x-2 gap-y-2 lg:grid-cols-7 lg:gap-x-4"
                            >
                                <div
                                    class="col-span-2 h-full rounded-md bg-white px-4 py-2 lg:py-4"
                                >
                                    <div
                                        class="flex h-full flex-col lg:flex-row lg:items-center"
                                    >
                                        <div class="flex-grow basis-1/2">
                                            <p class="text-sm text-gray-400">
                                                หมายเลขที่นั่ง
                                            </p>
                                        </div>
                                        <div class="basis-1/2">
                                            <p
                                                class="text-sm font-semibold lg:text-right"
                                            >
                                                A6
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-span-2 h-full rounded-md bg-white px-4 py-2 lg:py-4"
                                >
                                    <div
                                        class="flex h-full flex-col lg:flex-row lg:items-center"
                                    >
                                        <div class="flex-grow basis-1/2">
                                            <p class="text-sm text-gray-400">
                                                จำนวนบัตร
                                            </p>
                                        </div>
                                        <div class="basis-1/2">
                                            <p
                                                class="h-full text-sm font-semibold lg:text-right"
                                            >
                                                1
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-span-2 h-full rounded-md bg-white px-4 py-2 lg:py-4"
                                >
                                    <div
                                        class="flex h-full flex-col lg:flex-row lg:items-center"
                                    >
                                        <div class="flex-grow basis-1/2">
                                            <p class="text-sm text-gray-400">
                                                ยอดชำระ
                                            </p>
                                        </div>
                                        <div class="basis-1/2">
                                            <p
                                                class="text-sm font-semibold lg:text-right"
                                            >
                                                3,500 THB
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-span-6 h-full rounded-md bg-blue-700 px-4 py-2 lg:col-span-1 lg:py-1"
                                >
                                    <!-- button -->
                                    <button
                                        class="h-full w-full rounded-md text-sm font-semibold text-white"
                                    >
                                        ยืนยันที่นั่ง
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
