<div class="relative mt-8">
    <app-container>
        <div class="flex flex-wrap overflow-hidden">
            <div class="schedule-section overflow-hidden">
                <div class="schedule-tile">
                    <p class="text-2xl font-bold">ผังการแสดง & รอบการแสดง</p>
                </div>

                <div
                    class="mt-4 flex flex-col overflow-x-scroll md:flex-row md:gap-4"
                >
                    <!-- Card 1 -->
                    <div
                        class="schedule-list-item my-4 shrink-0 basis-3/4 overflow-hidden rounded-md bg-black/90 text-white lg:basis-2/5"
                    >
                        <div class="flex flex-col items-stretch md:flex-row">
                            <div
                                class="width-[30%] flex basis-[30%] items-center bg-black/90 p-2 md:p-4"
                            >
                                <img
                                    src="https://www.thaiticketmajor.com/img_seat/prefix_1/0698/36698/36698-66c3115c23d3a-s.gif"
                                />
                            </div>
                            <div class="width-[70%] basis-[70%]">
                                <div class="my-3 px-4">
                                    <div class="mb-1">
                                        <p
                                            class="text-sm text-[#eee] opacity-60"
                                        >
                                            รอบการแสดง
                                        </p>
                                    </div>
                                    <div class="pb-2">
                                        <p class="text-base font-semibold">
                                            วันอาทิตย์ที่ 29 กันยายน 2567, 13:00
                                        </p>
                                    </div>
                                </div>
                                <div class="my-3 px-4">
                                    <div class="mb-1">
                                        <p
                                            class="text-sm text-[#eee] opacity-60"
                                        >
                                            สถานที่แสดง
                                        </p>
                                    </div>
                                    <div class="pb-2">
                                        <p class="h-12 text-base font-semibold">
                                            ศูนย์ประชุมและแสดงสินค้านานาชาติไคซ์
                                            ขอนแก่น - ฮอลล์ 1
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ticket price table -->
                        <div class="ticket-price bg-[#222] px-4 py-3">
                            <div class="ticket-head flex items-center">
                                <div class="basis-[50%] text-[#eee] opacity-60">
                                    ประเภทบัตร
                                </div>
                                <div
                                    class="basis-[25%] text-center text-[#eee] opacity-60"
                                >
                                    ราคาบัตร
                                </div>
                                <div
                                    class="basis-[25%] text-center text-[#eee] opacity-60"
                                >
                                    สถานะ
                                </div>
                            </div>
                        </div>
                        <div
                            class="ticket-price border-t border-white bg-[#222] px-4 py-3"
                        >
                            <div class="ticket-price flex items-center">
                                <div class="basis-[50%] text-white">
                                    3,500 (VIP)
                                </div>
                                <div class="basis-[25%] text-center text-white">
                                    3,500
                                    <span class="text-sm font-light">THB</span>
                                </div>
                                <div
                                    class="basis-[25%] text-center font-semibold text-red-700"
                                >
                                    Sold Out
                                </div>
                            </div>
                        </div>
                        <div
                            class="ticket-price border-t border-white bg-[#222] px-4 py-3"
                        >
                            <div class="ticket-price flex items-center">
                                <div class="basis-[50%] text-white">3,000</div>
                                <div class="basis-[25%] text-center text-white">
                                    3,000
                                    <span class="text-sm font-light">THB</span>
                                </div>
                                <div
                                    class="basis-[25%] text-center font-semibold text-red-700"
                                >
                                    Sold Out
                                </div>
                            </div>
                        </div>
                        <div
                            class="ticket-price border-t border-white bg-[#222] px-4 py-3"
                        >
                            <div class="ticket-price flex items-center">
                                <div class="basis-[50%] text-white">2,500</div>
                                <div class="basis-[25%] text-center text-white">
                                    2,500
                                    <span class="text-sm font-light">THB</span>
                                </div>
                                <div
                                    class="basis-[25%] text-center font-semibold text-red-700"
                                >
                                    Sold Out
                                </div>
                            </div>
                        </div>
                        <div
                            class="ticket-price border-t border-white bg-[#222] px-4 py-3"
                        >
                            <div class="ticket-price flex items-center">
                                <div class="basis-[50%] text-white">2,000</div>
                                <div class="basis-[25%] text-center text-white">
                                    2,000
                                    <span class="text-sm font-light">THB</span>
                                </div>
                                <div
                                    class="basis-[25%] text-center font-semibold text-red-700"
                                >
                                    Sold Out
                                </div>
                            </div>
                        </div>
                        <div
                            class="ticket-price border-t border-white bg-[#222] px-4 py-3"
                        >
                            <div class="ticket-price flex items-center">
                                <div class="basis-[50%] text-white">1,200</div>
                                <div class="basis-[25%] text-center text-white">
                                    1,200
                                    <span class="text-sm font-light">THB</span>
                                </div>
                                <div
                                    class="basis-[25%] text-center font-semibold text-red-700"
                                >
                                    Sold Out
                                </div>
                            </div>
                        </div>
                        <div
                            class="ticket-price border-t border-white bg-[#222] px-4 py-3"
                        >
                            <div
                                class="ticket-price flex items-center justify-center"
                            >
                                <button
                                    class="basis-[100%] cursor-not-allowed rounded-[4px] bg-gray-400 px-2 py-2 text-center font-semibold text-white"
                                >
                                    SOLD OUT
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Card 2 -->
                    <div
                        class="schedule-list-item my-4 shrink-0 basis-3/4 overflow-hidden rounded-md bg-black/90 text-white lg:basis-2/5"
                    >
                        <div class="flex flex-col items-stretch md:flex-row">
                            <div
                                class="width-[30%] flex basis-[30%] items-center bg-black/90 p-2 md:p-4"
                            >
                                <img
                                    src="https://www.thaiticketmajor.com/img_seat/prefix_1/0699/36699/36699-66d19bcd669f9-s.png"
                                />
                            </div>
                            <div class="width-[70%] basis-[70%]">
                                <div class="my-3 px-4">
                                    <div class="mb-1">
                                        <p
                                            class="text-sm text-[#eee] opacity-60"
                                        >
                                            รอบการแสดง
                                        </p>
                                    </div>
                                    <div class="pb-2">
                                        <p class="text-base font-semibold">
                                            วันอาทิตย์ที่ 6 ตุลาคม 2567, 13:00
                                        </p>
                                    </div>
                                </div>
                                <div class="my-3 px-4">
                                    <div class="mb-1">
                                        <p
                                            class="text-sm text-[#eee] opacity-60"
                                        >
                                            สถานที่แสดง
                                        </p>
                                    </div>
                                    <div class="pb-2">
                                        <p class="h-12 text-base font-semibold">
                                            เทอร์มินอล ฮอลล์,
                                            ศูนย์การค้าเทอร์มินอล 21 โคราช
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ticket price table -->
                        <div class="ticket-price bg-[#222] px-4 py-3">
                            <div class="ticket-head flex items-center">
                                <div class="basis-[50%] text-[#eee] opacity-60">
                                    ประเภทบัตร
                                </div>
                                <div
                                    class="basis-[25%] text-center text-[#eee] opacity-60"
                                >
                                    ราคาบัตร
                                </div>
                                <div
                                    class="basis-[25%] text-center text-[#eee] opacity-60"
                                >
                                    สถานะ
                                </div>
                            </div>
                        </div>
                        <div
                            class="ticket-price border-t border-white bg-[#222] px-4 py-3"
                        >
                            <div class="ticket-price flex items-center">
                                <div class="basis-[50%] text-white">
                                    3,500 (VIP)
                                </div>
                                <div class="basis-[25%] text-center text-white">
                                    3,500
                                    <span class="text-sm font-light">THB</span>
                                </div>
                                <div
                                    class="basis-[25%] text-center font-semibold text-red-700"
                                >
                                    Sold Out
                                </div>
                            </div>
                        </div>
                        <div
                            class="ticket-price border-t border-white bg-[#222] px-4 py-3"
                        >
                            <div class="ticket-price flex items-center">
                                <div class="basis-[50%] text-white">3,000</div>
                                <div class="basis-[25%] text-center text-white">
                                    3,000
                                    <span class="text-sm font-light">THB</span>
                                </div>
                                <div
                                    class="basis-[25%] text-center font-semibold text-green-700"
                                >
                                    Available
                                </div>
                            </div>
                        </div>
                        <div
                            class="ticket-price border-t border-white bg-[#222] px-4 py-3"
                        >
                            <div class="ticket-price flex items-center">
                                <div class="basis-[50%] text-white">2,500</div>
                                <div class="basis-[25%] text-center text-white">
                                    2,500
                                    <span class="text-sm font-light">THB</span>
                                </div>
                                <div
                                    class="basis-[25%] text-center font-semibold text-green-700"
                                >
                                    Available
                                </div>
                            </div>
                        </div>
                        <div
                            class="ticket-price border-t border-white bg-[#222] px-4 py-3"
                        >
                            <div class="ticket-price flex items-center">
                                <div class="basis-[50%] text-white">2,000</div>
                                <div class="basis-[25%] text-center text-white">
                                    2,000
                                    <span class="text-sm font-light">THB</span>
                                </div>
                                <div
                                    class="basis-[25%] text-center font-semibold text-green-700"
                                >
                                    Available
                                </div>
                            </div>
                        </div>
                        <div
                            class="ticket-price border-t border-white bg-[#222] px-4 py-3"
                        >
                            <div class="ticket-price flex items-center">
                                <div class="basis-[50%] text-white">1,200</div>
                                <div class="basis-[25%] text-center text-white">
                                    1,200
                                    <span class="text-sm font-light">THB</span>
                                </div>
                                <div
                                    class="basis-[25%] text-center font-semibold text-green-700"
                                >
                                    Available
                                </div>
                            </div>
                        </div>
                        <div
                            class="ticket-price border-t border-white bg-[#222] px-4 py-3"
                        >
                            <div
                                class="ticket-price flex items-center justify-center"
                            >
                                <button
                                    class="basis-[100%] rounded-[4px] bg-blue-700 px-2 py-2 text-center font-semibold text-white transition-opacity duration-100 hover:opacity-80"
                                >
                                    ซื้อบัตร / เลือกโซนที่นั่ง
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Card 3 -->
                    <div
                        class="schedule-list-item lg:2/4 my-4 shrink-0 basis-3/4 overflow-hidden rounded-md bg-black/90 text-white lg:basis-2/5"
                    >
                        <div class="flex flex-col items-stretch md:flex-row">
                            <div
                                class="width-[30%] flex basis-[30%] items-center bg-black/90 p-2 md:p-4"
                            >
                                <img
                                    src="https://www.thaiticketmajor.com/img_seat/prefix_1/0700/36700/36700-66c3119086c68-s.gif"
                                />
                            </div>
                            <div class="width-[70%] basis-[70%]">
                                <div class="my-3 px-4">
                                    <div class="mb-1">
                                        <p
                                            class="text-sm text-[#eee] opacity-60"
                                        >
                                            รอบการแสดง
                                        </p>
                                    </div>
                                    <div class="pb-2">
                                        <p class="text-base font-semibold">
                                            วันอาทิตย์ที่ 13 ตุลาคม 2567, 13:00
                                        </p>
                                    </div>
                                </div>
                                <div class="my-3 px-4">
                                    <div class="mb-1">
                                        <p
                                            class="text-sm text-[#eee] opacity-60"
                                        >
                                            สถานที่แสดง
                                        </p>
                                    </div>
                                    <div class="pb-2">
                                        <p
                                            class="line-clamp-2 h-12 overflow-hidden text-ellipsis text-base font-semibold"
                                        >
                                            ศูนย์ประชุมนานาชาติฉลองสิริราชสมบัติครบ
                                            ๖๐ ปี (หาดใหญ่) - คอนเวนชั่น ฮอลล์
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ticket price table -->
                        <div class="ticket-price bg-[#222] px-4 py-3">
                            <div class="ticket-head flex items-center">
                                <div class="basis-[50%] text-[#eee] opacity-60">
                                    ประเภทบัตร
                                </div>
                                <div
                                    class="basis-[25%] text-center text-[#eee] opacity-60"
                                >
                                    ราคาบัตร
                                </div>
                                <div
                                    class="basis-[25%] text-center text-[#eee] opacity-60"
                                >
                                    สถานะ
                                </div>
                            </div>
                        </div>
                        <div
                            class="ticket-price border-t border-white bg-[#222] px-4 py-3"
                        >
                            <div class="ticket-price flex items-center">
                                <div class="basis-[50%] text-white">
                                    3,500 (VIP)
                                </div>
                                <div class="basis-[25%] text-center text-white">
                                    3,500
                                    <span class="text-sm font-light">THB</span>
                                </div>
                                <div
                                    class="basis-[25%] text-center font-semibold text-green-700"
                                >
                                    Available
                                </div>
                            </div>
                        </div>
                        <div
                            class="ticket-price border-t border-white bg-[#222] px-4 py-3"
                        >
                            <div class="ticket-price flex items-center">
                                <div class="basis-[50%] text-white">3,000</div>
                                <div class="basis-[25%] text-center text-white">
                                    3,000
                                    <span class="text-sm font-light">THB</span>
                                </div>
                                <div
                                    class="basis-[25%] text-center font-semibold text-green-700"
                                >
                                    Available
                                </div>
                            </div>
                        </div>
                        <div
                            class="ticket-price border-t border-white bg-[#222] px-4 py-3"
                        >
                            <div class="ticket-price flex items-center">
                                <div class="basis-[50%] text-white">2,500</div>
                                <div class="basis-[25%] text-center text-white">
                                    2,500
                                    <span class="text-sm font-light">THB</span>
                                </div>
                                <div
                                    class="basis-[25%] text-center font-semibold text-green-700"
                                >
                                    Available
                                </div>
                            </div>
                        </div>
                        <div
                            class="ticket-price border-t border-white bg-[#222] px-4 py-3"
                        >
                            <div class="ticket-price flex items-center">
                                <div class="basis-[50%] text-white">2,000</div>
                                <div class="basis-[25%] text-center text-white">
                                    2,000
                                    <span class="text-sm font-light">THB</span>
                                </div>
                                <div
                                    class="basis-[25%] text-center font-semibold text-green-700"
                                >
                                    Available
                                </div>
                            </div>
                        </div>
                        <div
                            class="ticket-price border-t border-white bg-[#222] px-4 py-3"
                        >
                            <div class="ticket-price flex items-center">
                                <div class="basis-[50%] text-white">1,200</div>
                                <div class="basis-[25%] text-center text-white">
                                    1,200
                                    <span class="text-sm font-light">THB</span>
                                </div>
                                <div
                                    class="basis-[25%] text-center font-semibold text-green-700"
                                >
                                    Available
                                </div>
                            </div>
                        </div>
                        <div
                            class="ticket-price border-t border-white bg-[#222] px-4 py-3"
                        >
                            <div
                                class="ticket-price flex items-center justify-center"
                            >
                                <button
                                    class="basis-[100%] rounded-[4px] bg-blue-700 px-2 py-2 text-center font-semibold text-white transition-opacity duration-100 hover:opacity-80"
                                >
                                    ซื้อบัตร / เลือกโซนที่นั่ง
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Card 4 -->
                    <div
                        class="schedule-list-item lg:2/4 my-4 shrink-0 basis-3/4 overflow-hidden rounded-md bg-black/90 text-white lg:basis-2/5"
                    >
                        <div class="flex flex-col items-stretch md:flex-row">
                            <div
                                class="width-[30%] flex basis-[30%] items-center bg-black/90 p-2 md:p-4"
                            >
                                <img
                                    src="https://www.thaiticketmajor.com/img_seat/prefix_1/0701/36701/36701-66d19c02bd6af-s.png"
                                />
                            </div>
                            <div class="width-[70%] basis-[70%]">
                                <div class="my-3 px-4">
                                    <div class="mb-1">
                                        <p
                                            class="text-sm text-[#eee] opacity-60"
                                        >
                                            รอบการแสดง
                                        </p>
                                    </div>
                                    <div class="pb-2">
                                        <p class="text-base font-semibold">
                                            วันอาทิตย์ที่ 20 ตุลาคม 2567, 13:00
                                        </p>
                                    </div>
                                </div>
                                <div class="my-3 px-4">
                                    <div class="mb-1">
                                        <p
                                            class="text-sm text-[#eee] opacity-60"
                                        >
                                            สถานที่แสดง
                                        </p>
                                    </div>
                                    <div class="pb-2">
                                        <p class="h-12 text-base font-semibold">
                                            ศรีราชา ฮอลล์,
                                            ศูนย์การค้าเซ็นทรัลศรีราชา
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ticket price table -->
                        <div class="ticket-price bg-[#222] px-4 py-3">
                            <div class="ticket-head flex items-center">
                                <div class="basis-[50%] text-[#eee] opacity-60">
                                    ประเภทบัตร
                                </div>
                                <div
                                    class="basis-[25%] text-center text-[#eee] opacity-60"
                                >
                                    ราคาบัตร
                                </div>
                                <div
                                    class="basis-[25%] text-center text-[#eee] opacity-60"
                                >
                                    สถานะ
                                </div>
                            </div>
                        </div>
                        <div
                            class="ticket-price border-t border-white bg-[#222] px-4 py-3"
                        >
                            <div class="ticket-price flex items-center">
                                <div class="basis-[50%] text-white">
                                    3,500 (VIP)
                                </div>
                                <div class="basis-[25%] text-center text-white">
                                    3,500
                                    <span class="text-sm font-light">THB</span>
                                </div>
                                <div
                                    class="basis-[25%] text-center font-semibold text-green-700"
                                >
                                    Available
                                </div>
                            </div>
                        </div>
                        <div
                            class="ticket-price border-t border-white bg-[#222] px-4 py-3"
                        >
                            <div class="ticket-price flex items-center">
                                <div class="basis-[50%] text-white">3,000</div>
                                <div class="basis-[25%] text-center text-white">
                                    3,000
                                    <span class="text-sm font-light">THB</span>
                                </div>
                                <div
                                    class="basis-[25%] text-center font-semibold text-green-700"
                                >
                                    Available
                                </div>
                            </div>
                        </div>
                        <div
                            class="ticket-price border-t border-white bg-[#222] px-4 py-3"
                        >
                            <div class="ticket-price flex items-center">
                                <div class="basis-[50%] text-white">2,500</div>
                                <div class="basis-[25%] text-center text-white">
                                    2,500
                                    <span class="text-sm font-light">THB</span>
                                </div>
                                <div
                                    class="basis-[25%] text-center font-semibold text-green-700"
                                >
                                    Available
                                </div>
                            </div>
                        </div>
                        <div
                            class="ticket-price border-t border-white bg-[#222] px-4 py-3"
                        >
                            <div class="ticket-price flex items-center">
                                <div class="basis-[50%] text-white">2,000</div>
                                <div class="basis-[25%] text-center text-white">
                                    2,000
                                    <span class="text-sm font-light">THB</span>
                                </div>
                                <div
                                    class="basis-[25%] text-center font-semibold text-green-700"
                                >
                                    Available
                                </div>
                            </div>
                        </div>
                        <div
                            class="ticket-price border-t border-white bg-[#222] px-4 py-3"
                        >
                            <div class="ticket-price flex items-center">
                                <div class="basis-[50%] text-white">1,200</div>
                                <div class="basis-[25%] text-center text-white">
                                    1,200
                                    <span class="text-sm font-light">THB</span>
                                </div>
                                <div
                                    class="basis-[25%] text-center font-semibold text-green-700"
                                >
                                    Available
                                </div>
                            </div>
                        </div>
                        <div
                            class="ticket-price border-t border-white bg-[#222] px-4 py-3"
                        >
                            <div
                                class="ticket-price flex items-center justify-center"
                            >
                                <button
                                    class="basis-[100%] rounded-[4px] bg-blue-700 px-2 py-2 text-center font-semibold text-white transition-opacity duration-100 hover:opacity-80"
                                >
                                    ซื้อบัตร / เลือกโซนที่นั่ง
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Card 4 -->
                    <div
                        class="schedule-list-item lg:2/4 my-4 shrink-0 basis-3/4 overflow-hidden rounded-md bg-black/90 text-white lg:basis-2/5"
                    >
                        <div class="flex flex-col items-stretch md:flex-row">
                            <div
                                class="width-[30%] flex basis-[30%] items-center bg-black/90 p-2 md:p-4"
                            >
                                <img
                                    src="https://www.thaiticketmajor.com/img_seat/prefix_1/0702/36702/36702-66d1b335aba53-s.png"
                                />
                            </div>
                            <div class="width-[70%] basis-[70%]">
                                <div class="my-3 px-4">
                                    <div class="mb-1">
                                        <p
                                            class="text-sm text-[#eee] opacity-60"
                                        >
                                            รอบการแสดง
                                        </p>
                                    </div>
                                    <div class="pb-2">
                                        <p class="text-base font-semibold">
                                            วันอาทิตย์ที่ 27 ตุลาคม 2567, 13:00
                                        </p>
                                    </div>
                                </div>
                                <div class="my-3 px-4">
                                    <div class="mb-1">
                                        <p
                                            class="text-sm text-[#eee] opacity-60"
                                        >
                                            สถานที่แสดง
                                        </p>
                                    </div>
                                    <div class="pb-2">
                                        <p class="h-12 text-base font-semibold">
                                            ศูนย์ประชุมและแสดงสินค้านานาชาติ ฯ
                                            จังหวัดเชียงใหม่ - ฮอลล์ 3
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ticket price table -->
                        <div class="ticket-price bg-[#222] px-4 py-3">
                            <div class="ticket-head flex items-center">
                                <div class="basis-[50%] text-[#eee] opacity-60">
                                    ประเภทบัตร
                                </div>
                                <div
                                    class="basis-[25%] text-center text-[#eee] opacity-60"
                                >
                                    ราคาบัตร
                                </div>
                                <div
                                    class="basis-[25%] text-center text-[#eee] opacity-60"
                                >
                                    สถานะ
                                </div>
                            </div>
                        </div>
                        <div
                            class="ticket-price border-t border-white bg-[#222] px-4 py-3"
                        >
                            <div class="ticket-price flex items-center">
                                <div class="basis-[50%] text-white">
                                    3,500 (VIP)
                                </div>
                                <div class="basis-[25%] text-center text-white">
                                    3,500
                                    <span class="text-sm font-light">THB</span>
                                </div>
                                <div
                                    class="basis-[25%] text-center font-semibold text-green-700"
                                >
                                    Available
                                </div>
                            </div>
                        </div>
                        <div
                            class="ticket-price border-t border-white bg-[#222] px-4 py-3"
                        >
                            <div class="ticket-price flex items-center">
                                <div class="basis-[50%] text-white">3,000</div>
                                <div class="basis-[25%] text-center text-white">
                                    3,000
                                    <span class="text-sm font-light">THB</span>
                                </div>
                                <div
                                    class="basis-[25%] text-center font-semibold text-green-700"
                                >
                                    Available
                                </div>
                            </div>
                        </div>
                        <div
                            class="ticket-price border-t border-white bg-[#222] px-4 py-3"
                        >
                            <div class="ticket-price flex items-center">
                                <div class="basis-[50%] text-white">2,500</div>
                                <div class="basis-[25%] text-center text-white">
                                    2,500
                                    <span class="text-sm font-light">THB</span>
                                </div>
                                <div
                                    class="basis-[25%] text-center font-semibold text-green-700"
                                >
                                    Available
                                </div>
                            </div>
                        </div>
                        <div
                            class="ticket-price border-t border-white bg-[#222] px-4 py-3"
                        >
                            <div class="ticket-price flex items-center">
                                <div class="basis-[50%] text-white">2,000</div>
                                <div class="basis-[25%] text-center text-white">
                                    2,000
                                    <span class="text-sm font-light">THB</span>
                                </div>
                                <div
                                    class="basis-[25%] text-center font-semibold text-green-700"
                                >
                                    Available
                                </div>
                            </div>
                        </div>
                        <div
                            class="ticket-price border-t border-white bg-[#222] px-4 py-3"
                        >
                            <div class="ticket-price flex items-center">
                                <div class="basis-[50%] text-white">1,200</div>
                                <div class="basis-[25%] text-center text-white">
                                    1,200
                                    <span class="text-sm font-light">THB</span>
                                </div>
                                <div
                                    class="basis-[25%] text-center font-semibold text-green-700"
                                >
                                    Available
                                </div>
                            </div>
                        </div>
                        <div
                            class="ticket-price border-t border-white bg-[#222] px-4 py-3"
                        >
                            <div
                                class="ticket-price flex items-center justify-center"
                            >
                                <button
                                    class="basis-[100%] rounded-[4px] bg-blue-700 px-2 py-2 text-center font-semibold text-white transition-opacity duration-100 hover:opacity-80"
                                >
                                    ซื้อบัตร / เลือกโซนที่นั่ง
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-container>
</div>
